* {
    margin: 0;
    padding: 0;
}

ul,
ul {
    list-style: none;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 41, 148);
    line-height: 30px;
}

h2 {
    text-align: center;
    line-height: 20px;
    font-size: 17px;
}

h4 {
    text-align: center;
    line-height: 30px;
}